<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcome-heading">
                                <form role="search" class="form" action="/search" style="display: flex;">
                                        <input type="text" name="keyword" placeholder="Search..." class="form-control" />
                                         {{!-- <a href="/books/list" class=""><i class="fa fa-search"></i></a> --}}
                                        <button class="btn btn-submit btn-primary" style="padding: 0 20px 0 20px; margin-left: 20px;" ><i class="fa fa-search" style="margin-right: 10px;"></i>Tìm kiếm</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <ul class="breadcome-menu">
                                <li><a href="#">Home</a> <span class="bread-slash">/</span></li>
                                <li><span class="bread-blod">Dashboard V.1</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
